In [1]:
import time
from datetime import timedelta
import pandas as pd

import numpy as np
from sklearn.neighbors import NearestNeighbors

import math


#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

## 2.Récupération et analyse du jeu de données

In [2]:
doc=pd.read_csv('jena_climate_2009_2016.csv')
print(doc)

                  Date Time  p (mbar)  T (degC)  Tpot (K)  Tdew (degC)  \
0       01.01.2009 00:00:00    996.50     -8.00    264.76        -8.92
1       01.01.2009 00:10:00    996.52     -8.02    265.40        -8.90
2       01.01.2009 00:20:00    996.57     -8.41    265.01        -9.28
3       01.01.2009 00:30:00    996.53     -8.51    264.91        -9.31
4       01.01.2009 00:40:00    996.51     -8.31    265.12        -9.07
...                     ...       ...       ...       ...          ...
420547  31.12.2016 23:20:00   1000.07     -4.05    269.10        -8.13
420548  31.12.2016 23:30:00    999.93     -3.35    269.81        -8.06
420549  31.12.2016 23:40:00    999.82     -3.16    270.01        -8.21
420550  31.12.2016 23:50:00    999.81     -4.23    268.94        -8.53
420551  01.01.2017 00:00:00    999.82     -4.82    268.36        -8.42

        rh (%)  VPmax (mbar)  VPact (mbar)  VPdef (mbar)  sh (g/kg)  \
0        93.30          3.33          3.11          0.23       1.96
1        93.30          3.33          3.11          0.22       1.94
2        93.40          3.23          3.02          0.21       1.89
3        93.90          3.21          3.01          0.20       1.88
4        94.20          3.26          3.07          0.19       1.92
...        ...           ...           ...           ...        ...
420547   73.10          4.52          3.30          1.22       2.06
420548   69.71          4.77          3.32          1.44       2.07
420549   67.91          4.84          3.28          1.55       2.05
420550   71.80          4.46          3.20          1.26       1.99
420551   75.70          4.27          3.23          1.04       2.01

        H2OC (mmol/mol)  rho (g/m**3)  wv (m/s)  max. wv (m/s)  wd (deg)
0                  3.17       1307.75      1.03           1.75     142.7
1                  3.12       1307.75      1.03           1.75     152.3
2                  3.03       1309.80      0.72           1.50     136.1
3                  3.02       1310.24      0.19           0.63     171.6
4                  3.08       1309.19      0.34           0.50     198.0
...                 ...           ...       ...            ...       ...
420547             3.30       1292.98      0.67           1.52     240.0
420548             3.32       1289.44      1.14           1.92     234.3
420549             3.28       1288.39      1.08           2.00     215.2
420550             3.20       1293.56      1.49           2.16     225.8
420551             3.23       1296.38      1.23           1.96     184.9

[420552 rows x 15 columns]

In [3]:
print(doc.info())
print(doc.shape)
print(doc.head())
print(doc.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420552 entries, 0 to 420551
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date Time        420552 non-null  object
 1   p (mbar)         420552 non-null  float64
 2   T (degC)         420552 non-null  float64
 3   Tpot (K)         420552 non-null  float64
 4   Tdew (degC)      420552 non-null  float64
 5   rh (%)           420552 non-null  float64
 6   VPmax (mbar)     420552 non-null  float64
 7   VPact (mbar)     420552 non-null  float64
 8   VPdef (mbar)     420552 non-null  float64
 9   sh (g/kg)        420552 non-null  float64
 10  H2OC (mmol/mol)  420552 non-null  float64
 11  rho (g/m**3)     420552 non-null  float64
 12  wv (m/s)         420552 non-null  float64
 13  max. wv (m/s)    420552 non-null  float64
 14  wd (deg)         420552 non-null  float64
dtypes: float64(14), object(1)
memory usage: 48.1+ MB
None
(420552, 15)
             Date Time  p (mbar)  T (degC)  Tpot (K)  Tdew (degC)  rh (%)  \
0  01.01.2009 00:00:00    996.50     -8.00    264.76        -8.92    93.3
1  01.01.2009 00:10:00    996.52     -8.02    265.40        -8.90    93.3
2  01.01.2009 00:20:00    996.57     -8.41    265.01        -9.28    93.4
3  01.01.2009 00:30:00    996.53     -8.51    264.91        -9.31    93.9
4  01.01.2009 00:40:00    996.51     -8.31    265.12        -9.07    94.2

   VPmax (mbar)  VPact (mbar)  VPdef (mbar)  sh (g/kg)  H2OC (mmol/mol)  \
0          3.33          3.11          0.23       1.96             3.17
1          3.33          3.11          0.22       1.94             3.12
2          3.23          3.02          0.21       1.89             3.03
3          3.21          3.01          0.20       1.88             3.02
4          3.26          3.07          0.19       1.92             3.08

   rho (g/m**3)  wv (m/s)  max. wv (m/s)  wd (deg)
0       1307.75      1.03           1.75     142.7
1       1307.75      1.03           1.75     152.3
2       1309.80      0.72           1.50     136.1
3       1310.24      0.19           0.63     171.6
4       1309.19      0.34           0.50     198.0
            p (mbar)       T (degC)       Tpot (K)    Tdew (degC)  \
count  420552.000000  420552.000000  420552.000000  420552.000000
mean      989.212793       9.450106     283.492699       4.955821
std         8.358478       8.423398       8.504510       6.730700
min       913.600000     -23.010000     250.600000     -25.010000
25%       984.200000       3.360000     277.430000       0.240000
50%       989.580000       9.420000     283.465000       5.220000
75%       994.720000      15.470000     289.530000      10.070000
max      1015.350000      37.280000     311.340000      23.110000

              rh (%)   VPmax (mbar)   VPact (mbar)   VPdef (mbar)  \
count  420552.000000  420552.000000  420552.000000  420552.000000
mean       76.008301      13.576226       9.533741       4.042403
std        16.476177       7.739027       4.184171       4.896849
min        12.950000       0.950000       0.790000       0.000000
25%        65.210000       7.780000       6.210000       0.870000
50%        79.300000      11.820000       8.860000       2.190000
75%        89.400000      17.600000      12.350000       5.300000
max       100.000000      63.770000      28.320000      46.010000

           sh (g/kg)  H2OC (mmol/mol)   rho (g/m**3)       wv (m/s)  \
count  420552.000000    420552.000000  420552.000000  420552.000000
mean        6.022399         9.640208    1216.062966       1.702222
std         2.656143         4.235402      39.975411      65.446636
min         0.500000         0.800000    1059.450000   -9999.000000
25%         3.920000         6.290000    1187.490000       0.990000
50%         5.590000         8.960000    1213.790000       1.760000
75%         7.800000        12.490000    1242.770000       2.860000
max        18.130000        28.820000    1393.540000      28.490000

       max. wv (m/s)       wd (deg)
count  420552.000000  420552.000000
mean        3.056552     174.743662
std        69.016850      86.681604
min     -9999.000000       0.000000
25%         1.760000     124.900000
50%         2.960000     198.100000
75%         4.740000     234.100000
max        23.500000     360.000000

## 3.Préparation et transformation du jeu de données

In [4]:
doc['Date Time'] = pd.to_datetime(doc['Date Time'], format="%d.%m.%Y %H:%M:%S")

In [5]:
doc.set_index("Date Time")

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
2009-01-01 00:00:00,996.50,-8.00,264.76,-8.92,93.30,3.33,3.11,0.23,1.96,3.17,1307.75,1.03,1.75,142.7
2009-01-01 00:10:00,996.52,-8.02,265.40,-8.90,93.30,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
2009-01-01 00:20:00,996.57,-8.41,265.01,-9.28,93.40,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2009-01-01 00:30:00,996.53,-8.51,264.91,-9.31,93.90,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
2009-01-01 00:40:00,996.51,-8.31,265.12,-9.07,94.20,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 23:20:00,1000.07,-4.05,269.10,-8.13,73.10,4.52,3.30,1.22,2.06,3.30,1292.98,0.67,1.52,240.0
2016-12-31 23:30:00,999.93,-3.35,269.81,-8.06,69.71,4.77,3.32,1.44,2.07,3.32,1289.44,1.14,1.92,234.3
2016-12-31 23:40:00,999.82,-3.16,270.01,-8.21,67.91,4.84,3.28,1.55,2.05,3.28,1288.39,1.08,2.00,215.2
2016-12-31 23:50:00,999.81,-4.23,268.94,-8.53,71.80,4.46,3.20,1.26,1.99,3.20,1293.56,1.49,2.16,225.8
2017-01-01 00:00:00,999.82,-4.82,268.36,-8.42,75.70,4.27,3.23,1.04,2.01,3.23,1296.38,1.23,1.96,184.9

In [6]:
print(doc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420552 entries, 0 to 420551
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date Time        420552 non-null  datetime64[ns]
 1   p (mbar)         420552 non-null  float64
 2   T (degC)         420552 non-null  float64
 3   Tpot (K)         420552 non-null  float64
 4   Tdew (degC)      420552 non-null  float64
 5   rh (%)           420552 non-null  float64
 6   VPmax (mbar)     420552 non-null  float64
 7   VPact (mbar)     420552 non-null  float64
 8   VPdef (mbar)     420552 non-null  float64
 9   sh (g/kg)        420552 non-null  float64
 10  H2OC (mmol/mol)  420552 non-null  float64
 11  rho (g/m**3)     420552 non-null  float64
 12  wv (m/s)         420552 non-null  float64
 13  max. wv (m/s)    420552 non-null  float64
 14  wd (deg)         420552 non-null  float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 48.1 MB
None

In [7]:
print(doc)

                 Date Time  p (mbar)  T (degC)  Tpot (K)  Tdew (degC)  rh (%)  \
0      2009-01-01 00:00:00    996.50     -8.00    264.76        -8.92   93.30
1      2009-01-01 00:10:00    996.52     -8.02    265.40        -8.90   93.30
2      2009-01-01 00:20:00    996.57     -8.41    265.01        -9.28   93.40
3      2009-01-01 00:30:00    996.53     -8.51    264.91        -9.31   93.90
4      2009-01-01 00:40:00    996.51     -8.31    265.12        -9.07   94.20
...                    ...       ...       ...       ...          ...     ...
420547 2016-12-31 23:20:00   1000.07     -4.05    269.10        -8.13   73.10
420548 2016-12-31 23:30:00    999.93     -3.35    269.81        -8.06   69.71
420549 2016-12-31 23:40:00    999.82     -3.16    270.01        -8.21   67.91
420550 2016-12-31 23:50:00    999.81     -4.23    268.94        -8.53   71.80
420551 2017-01-01 00:00:00    999.82     -4.82    268.36        -8.42   75.70

        VPmax (mbar)  VPact (mbar)  VPdef (mbar)  sh (g/kg)  H2OC (mmol/mol)  \
0               3.33          3.11          0.23       1.96             3.17
1               3.33          3.11          0.22       1.94             3.12
2               3.23          3.02          0.21       1.89             3.03
3               3.21          3.01          0.20       1.88             3.02
4               3.26          3.07          0.19       1.92             3.08
...              ...           ...           ...        ...              ...
420547          4.52          3.30          1.22       2.06             3.30
420548          4.77          3.32          1.44       2.07             3.32
420549          4.84          3.28          1.55       2.05             3.28
420550          4.46          3.20          1.26       1.99             3.20
420551          4.27          3.23          1.04       2.01             3.23

        rho (g/m**3)  wv (m/s)  max. wv (m/s)  wd (deg)
0            1307.75      1.03           1.75     142.7
1            1307.75      1.03           1.75     152.3
2            1309.80      0.72           1.50     136.1
3            1310.24      0.19           0.63     171.6
4            1309.19      0.34           0.50     198.0
...              ...       ...            ...       ...
420547       1292.98      0.67           1.52     240.0
420548       1289.44      1.14           1.92     234.3
420549       1288.39      1.08           2.00     215.2
420550       1293.56      1.49           2.16     225.8
420551       1296.38      1.23           1.96     184.9

[420552 rows x 15 columns]

In [8]:
#Normalisation Min-Max : Nouvelle valeur = (valeur – min) / (max – min)
#Normalisation moyenne : Nouvelle valeur = (valeur – moyenne) / (écart type)

#Min-max : 
doc=(doc-doc.min())/(doc.max()-doc.min())
print(doc)

C:\Users\amand\AppData\Local\Temp\ipykernel_10308\1875516641.py:5: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized.
  doc=(doc-doc.min())/(doc.max()-doc.min())

       Date Time  p (mbar)  T (degC)  Tpot (K) Tdew (degC)    rh (%)  \
0            0.0  0.814742  0.248963  0.233125    0.334372  0.923033
1       0.000002  0.814939  0.248632  0.243662    0.334788  0.923033
2       0.000005   0.81543  0.242163  0.237241    0.326891  0.924182
3       0.000007  0.815037  0.240504  0.235594    0.326268  0.929925
4        0.00001   0.81484  0.243822  0.239052    0.331255  0.933372
...          ...       ...       ...       ...         ...       ...
420547   0.99999  0.849828   0.31448  0.304577     0.35079  0.690982
420548  0.999993  0.848452  0.326091  0.316266    0.352244  0.652039
420549  0.999995  0.847371  0.329242  0.319559    0.349127  0.631361
420550  0.999998  0.847273  0.311494  0.301943    0.342477  0.676048
420551       1.0  0.847371  0.301708  0.292394    0.344763   0.72085

       VPmax (mbar) VPact (mbar) VPdef (mbar) sh (g/kg) H2OC (mmol/mol)  \
0          0.037886     0.084272     0.004999  0.082813        0.084582
1          0.037886     0.084272     0.004782  0.081679        0.082798
2          0.036294     0.081003     0.004564  0.078843        0.079586
3          0.035976     0.080639     0.004347  0.078276        0.079229
4          0.036772     0.082819      0.00413  0.080545         0.08137
...             ...          ...          ...       ...             ...
420547     0.056829     0.091173     0.026516  0.088486        0.089222
420548     0.060809       0.0919     0.031298  0.089053        0.089936
420549     0.061923     0.090447     0.033688  0.087918        0.088508
420550     0.055874     0.087541     0.027385  0.084515        0.085653
420551     0.052849     0.088631     0.022604  0.085649        0.086724

       rho (g/m**3)  wv (m/s) max. wv (m/s)  wd (deg)
0          0.743213  0.997262       0.99783  0.396389
1          0.743213  0.997262       0.99783  0.423056
2          0.749349  0.997231      0.997805  0.378056
3          0.750666  0.997178      0.997718  0.476667
4          0.747523  0.997193      0.997705      0.55
...             ...       ...           ...       ...
420547     0.699003  0.997226      0.997807  0.666667
420548     0.688407  0.997272      0.997847  0.650833
420549     0.685264  0.997267      0.997855  0.597778
420550     0.700739  0.997307      0.997871  0.627222
420551      0.70918  0.997281      0.997851  0.513611

[420552 rows x 15 columns]

## 4.Extraction des caractéristiques

## 5.Recherche par similarité

#### 5.1.Méthode exacte

#### 5.2.Méthode approximative

## 6.Exploitation pratique des résultats de recherche